# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# System files
.DS_Store

# Logs and databases
*.log
*.sqlite

# Pytest
.pytest_cache/

# Build files
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Local configuration files
.local/
